extends layout

block content
  section.banner-area.banner-area2.text-center
    .container
      .row
        .col-lg-12
          h1
            i About Us
          p.pt-2
            i Beast kind form divide night above let moveth bearing darkness.
  // Banner Area End
  // Welcome Area Starts
  section.welcome-area.section-padding2
    .container-fluid
      .row
        .col-md-6.align-self-center
          .welcome-img
            img.img-fluid(src='assets/images/welcome-bg.png', alt='')
        .col-md-6.align-self-center
          .welcome-text.mt-5.mt-md-0
            h3
              span.style-change welcome
              br
              | to food fun
            p.pt-3
              | Created god gathered don't you yielding herb you had. And isn't, god was saw. Dominion. Great sixth for in unto was. Open can't tree am waters brought. Divide after there. Was.
            p
              | Created god gathered don't you yielding herb you had. And isn't, god was saw. Dominion. Great sixth for in unto was. Open can't tree waters brought. Divide after there. Was. Created god gathered don't you yielding herb you had. And isn't god.
            a.template-btn.mt-3(href='#') book a table
  // Welcome Area End
  // Deshes Area Starts
  .deshes-area.section-padding
    .container
      .row
        .col-lg-12
          .section-top2.text-center
            h3
              | Our 
              span special
              |  deshes
            p
              i Beast kind form divide night above let moveth bearing darkness.
      .row
        .col-lg-5.col-md-6.align-self-center
          h1 01.
          .deshes-text
            h3
              span Garlic
              br
              |  green beans
            p.pt-3
              | Be. Seed saying our signs beginning face give spirit own beast darkness morning moveth green multiply she'd kind saying one shall, two which darkness have day image god their night. his subdue so you rule can.
            span.style-change $12.00
            a.template-btn3.mt-3(href='#')
              | book a table 
              span
                i.fa.fa-long-arrow-right
        .col-lg-5.offset-lg-2.col-md-6.align-self-center.mt-4.mt-md-0
          img.img-fluid(src='assets/images/deshes1.png', alt='')
      .row.mt-5
        .col-lg-5.col-md-6.align-self-center.order-2.order-md-1.mt-4.mt-md-0
          img.img-fluid(src='assets/images/deshes2.png', alt='')
        .col-lg-5.offset-lg-2.col-md-6.align-self-center.order-1.order-md-2
          h1 02.
          .deshes-text
            h3
              span Lemon
              br
              |  rosemary chicken
            p.pt-3
              | Be. Seed saying our signs beginning face give spirit own beast darkness morning moveth green multiply she'd kind saying one shall, two which darkness have day image god their night. his subdue so you rule can.
            span.style-change $12.00
            a.template-btn3.mt-3(href='#')
              | book a table 
              span
                i.fa.fa-long-arrow-right
  // Deshes Area End
  // Testimonial Area Starts
  section.testimonial-area.section-padding4
    .container
      .row
        .col-lg-12
          .section-top2.text-center
            h3
              | Customer 
              span says
            p
              i Beast kind form divide night above let moveth bearing darkness.
      .row
        .col-lg-12
          .testimonial-slider.owl-carousel
            .single-slide.d-sm-flex
              .customer-img.mr-4.mb-4.mb-sm-0
                img(src='assets/images/customer1.png', alt='')
              .customer-text
                h5 adame nesane
                span
                  i Chief Customer
                p.pt-3
                  | You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.
            .single-slide.d-sm-flex
              .customer-img.mr-4.mb-4.mb-sm-0
                img(src='assets/images/customer2.png', alt='')
              .customer-text
                h5 adam nahan
                span
                  i Chief Customer
                p.pt-3
                  | You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.
            .single-slide.d-sm-flex
              .customer-img.mr-4.mb-4.mb-sm-0
                img(src='assets/images/customer1.png', alt='')
              .customer-text
                h5 adame nesane
                span
                  i Chief Customer
                p.pt-3
                  | You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.
  // Testimonial Area End
