include partials/header
section.text-center
    .container(style='margin-top:150px;')
        .row
            .col-lg-12
                h2(style='color:black; font-weight:700;')
                    | Database
                h6
                    a(style='color:#ffb606; font-weight:700;' href='/contactDatabase') Contact Database
                h6
                    a(style='color:#ffb606; font-weight:700;' href='/eventDatabase') Event Database
                h6
                    a(style='color:#ffb606; font-weight:700;' href='/userDatabase') User Database

section.table-area.section-padding
    .container
        .row
            .col-lg-12
                .section-top2.text-center
                    h3
                        | Edit
                        | Table
                        |  Information
        .row
            .col-lg-8.offset-lg-2
                form(action=`/event/update/${event.id}` method='POST')
                    .input-group.mb-3
                        .input-group-prepend
                            span.input-group-text
                                i.fa.fa-calendar
                        input#datepicker(type='text' name='date' value=event.date)
                    .input-group.mb-3
                        .input-group-prepend
                            span.input-group-text
                                i.fa.fa-clock-o
                        input#datepicker2(type='text' name='time' value=event.time)
                    .input-group.mb-3
                        .input-group-prepend
                            span.input-group-text
                                i.fa.fa-user-o
                        input(type='text' name='name' value=event.name)
                    .table-btn.text-center
                        input.template-btn.template-btn2.mt-4(type='submit' value='Edit Table Information')
// Table Area End

include partials/footer
