extends layout
block content
  // Banner Area Starts
  section.banner-area.banner-area2.menu-bg.text-center
    .container
      .row
        .col-lg-12
          h1
            i Our Menu
          p.pt-2
            i Beast kind form divide night above let moveth bearing darkness.
  // Banner Area End
  // Food Area starts
  section.food-area.section-padding
    .container
      .row
        .col-md-5
          .section-top
            h3
              span.style-change we serve
              br
              | delicious food
            p.pt-3
              | They're fill divide i their yielding our after have him fish on there for greater man moveth, moved Won't together isn't for fly divide mids fish firmament on net.
      .row
        .col-md-4.col-sm-6
          .single-food
            .food-img
              img.img-fluid(src='assets/images/food1.jpg', alt='')
            .food-content
              .d-flex.justify-content-between
                h5 Mexican Eggrolls
                span.style-change $14.50
              p.pt-3 Face together given moveth divided form Of Seasons that fruitful.
        .col-md-4.col-sm-6
          .single-food.mt-5.mt-sm-0
            .food-img
              img.img-fluid(src='assets/images/food2.jpg', alt='')
            .food-content
              .d-flex.justify-content-between
                h5 chicken burger
                span.style-change $9.50
              p.pt-3 Face together given moveth divided form Of Seasons that fruitful.
        .col-md-4.col-sm-6
          .single-food.mt-5.mt-md-0
            .food-img
              img.img-fluid(src='assets/images/food3.jpg', alt='')
            .food-content
              .d-flex.justify-content-between
                h5 topu lasange
                span.style-change $12.50
              p.pt-3 Face together given moveth divided form Of Seasons that fruitful.
        .col-md-4.col-sm-6
          .single-food.mt-5
            .food-img
              img.img-fluid(src='assets/images/food4.jpg', alt='')
            .food-content
              .d-flex.justify-content-between
                h5 pepper potatoas
                span.style-change $14.50
              p.pt-3 Face together given moveth divided form Of Seasons that fruitful.
        .col-md-4.col-sm-6
          .single-food.mt-5
            .food-img
              img.img-fluid(src='assets/images/food5.jpg', alt='')
            .food-content
              .d-flex.justify-content-between
                h5 bean salad
                span.style-change $8.50
              p.pt-3 Face together given moveth divided form Of Seasons that fruitful.
        .col-md-4.col-sm-6
          .single-food.mt-5
            .food-img
              img.img-fluid(src='assets/images/food6.jpg', alt='')
            .food-content
              .d-flex.justify-content-between
                h5 beatball hoagie
                span.style-change $11.50
              p.pt-3 Face together given moveth divided form Of Seasons that fruitful.
  // Food Area End
  // Table Area Starts
  section.table-area.section-padding
    .container
      .row
        .col-lg-12
          .section-top2.text-center
            h3
              | Book 
              span your
              |  table
            p
              i Beast kind form divide night above let moveth bearing darkness.
      .row
        .col-lg-8.offset-lg-2
          form(action='#')
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text
                  i.fa.fa-calendar
              input#datepicker(type='text')
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text
                  i.fa.fa-clock-o
              input#datepicker2(type='text')
            .input-group.mb-3
              .input-group-prepend
                span.input-group-text
                  i.fa.fa-user-o
              input(type='text')
            .table-btn.text-center
              a.template-btn.template-btn2.mt-4(href='#') book a table
