include partials/header
section.text-center
    .container(style='margin-top:150px;')
        .row
            .col-lg-12
                h2(style='color:black; font-weight:700;')
                    | Database
                h6
                    a(style='color:#ffb606; font-weight:700;' href='/contactDatabase') Contact Database
                h6
                    a(style='color:#ffb606; font-weight:700;' href='/eventDatabase') Event Database
                h6
                    a(style='color:#ffb606; font-weight:700;' href='/userDatabase') User Database

div.row(style='margin-top:50px; margin-bottom:50px;')
    div.col-lg-4.offset-lg-4
          form.contact-form(action=`/event/email-page/${page}` method='POST')
            .row
                .col-lg-12.d-flex.flex-column.mb-20
                    input(type='hidden', name='_csrf', value=_csrf)
                    input.form-control(name='name' placeholder='Sender' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contact Name'" required='' type='text')
                .col-lg-12.d-flex.flex-column.mb-20
                    input.form-control(name='emailAddress' placeholder='Recipient Email Address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" required='' type='email')
                .col-lg-12.d-flex.flex-column
                    textarea.form-control(name='postMessage' placeholder='Post a message' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Post a message'" required='')
                .col-lg-12.d-flex.justify-content-end
                    input.template-btn.template-btn2.mt-4(type='submit' value='Send Email')
                .alert-msg
include partials/footer
