include partials/header
section.text-center
    .container(style='margin-top:150px;')
        .row
            .col-lg-12
                h2(style='color:black; font-weight:700;')
                    | Database
                h6
                    a(style='color:#ffb606; font-weight:700;' href='/contactDatabase') Contact Database
                h6
                    a(style='color:#ffb606; font-weight:700;' href='/eventDatabase') Event Database
                h6
                    a(style='color:#ffb606; font-weight:700;' href='/userDatabase') User Database
include partials/footer
