doctype html
html(lang='en')
  head
    // Required Meta Tags
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    // Page Title
    title About
    // Favicon
    link(rel='shortcut icon', href='assets/images/logo/favicon.png', type='image/x-icon')
    // CSS Files
    link(rel='stylesheet', href='assets/css/animate-3.7.0.css')
    link(rel='stylesheet', href='assets/css/font-awesome-4.7.0.min.css')
    link(rel='stylesheet', href='assets/css/bootstrap-4.1.3.min.css')
    link(rel='stylesheet', href='assets/css/owl-carousel.min.css')
    link(rel='stylesheet', href='assets/css/jquery.datetimepicker.min.css')
    link(rel='stylesheet', href='assets/css/style.css')
  body
    // Preloader Starts
    .preloader
      .spinner
    // Preloader End
    // Header Area Starts
    header.header-area.header-area2
      .container
        .row
          .col-lg-2
            .logo-area
              a(href='index.html')
                img(src='assets/images/logo/logo2.png', alt='logo')
          .col-lg-10
            .custom-navbar
              span
              span
              span
            .main-menu.main-menu2
              ul
                li.active
                  a(href='index.html') home
                li
                  a(href='about.html') about
                li
                  a(href='menu.html') menu
                li
                  a(href='#') blog
                  ul.sub-menu
                    li
                      a(href='blog-home.html') Blog Home
                    li
                      a(href='blog-details.html') Blog Details
                li
                  a(href='contact-us.html') contact
                li
                  a(href='elements.html') Elements
    // Header Area End
    // Banner Area Starts
    section.banner-area.banner-area2.text-center
      .container
        .row
          .col-lg-12
            h1
              i About Us
            p.pt-2
              i Beast kind form divide night above let moveth bearing darkness.
    // Banner Area End
    // Welcome Area Starts
    section.welcome-area.section-padding2
      .container-fluid
        .row
          .col-md-6.align-self-center
            .welcome-img
              img.img-fluid(src='assets/images/welcome-bg.png', alt='')
          .col-md-6.align-self-center
            .welcome-text.mt-5.mt-md-0
              h3
                span.style-change welcome
                br
                | to food fun
              p.pt-3
                | Created god gathered don't you yielding herb you had. And isn't, god was saw. Dominion. Great sixth for in unto was. Open can't tree am waters brought. Divide after there. Was.
              p
                | Created god gathered don't you yielding herb you had. And isn't, god was saw. Dominion. Great sixth for in unto was. Open can't tree waters brought. Divide after there. Was. Created god gathered don't you yielding herb you had. And isn't god.
              a.template-btn.mt-3(href='#') book a table
    // Welcome Area End
    // Deshes Area Starts
    .deshes-area.section-padding
      .container
        .row
          .col-lg-12
            .section-top2.text-center
              h3
                | Our 
                span special
                |  deshes
              p
                i Beast kind form divide night above let moveth bearing darkness.
        .row
          .col-lg-5.col-md-6.align-self-center
            h1 01.
            .deshes-text
              h3
                span Garlic
                br
                |  green beans
              p.pt-3
                | Be. Seed saying our signs beginning face give spirit own beast darkness morning moveth green multiply she'd kind saying one shall, two which darkness have day image god their night. his subdue so you rule can.
              span.style-change $12.00
              a.template-btn3.mt-3(href='#')
                | book a table 
                span
                  i.fa.fa-long-arrow-right
          .col-lg-5.offset-lg-2.col-md-6.align-self-center.mt-4.mt-md-0
            img.img-fluid(src='assets/images/deshes1.png', alt='')
        .row.mt-5
          .col-lg-5.col-md-6.align-self-center.order-2.order-md-1.mt-4.mt-md-0
            img.img-fluid(src='assets/images/deshes2.png', alt='')
          .col-lg-5.offset-lg-2.col-md-6.align-self-center.order-1.order-md-2
            h1 02.
            .deshes-text
              h3
                span Lemon
                br
                |  rosemary chicken
              p.pt-3
                | Be. Seed saying our signs beginning face give spirit own beast darkness morning moveth green multiply she'd kind saying one shall, two which darkness have day image god their night. his subdue so you rule can.
              span.style-change $12.00
              a.template-btn3.mt-3(href='#')
                | book a table 
                span
                  i.fa.fa-long-arrow-right
    // Deshes Area End
    // Testimonial Area Starts
    section.testimonial-area.section-padding4
      .container
        .row
          .col-lg-12
            .section-top2.text-center
              h3
                | Customer 
                span says
              p
                i Beast kind form divide night above let moveth bearing darkness.
        .row
          .col-lg-12
            .testimonial-slider.owl-carousel
              .single-slide.d-sm-flex
                .customer-img.mr-4.mb-4.mb-sm-0
                  img(src='assets/images/customer1.png', alt='')
                .customer-text
                  h5 adame nesane
                  span
                    i Chief Customer
                  p.pt-3
                    | You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.
              .single-slide.d-sm-flex
                .customer-img.mr-4.mb-4.mb-sm-0
                  img(src='assets/images/customer2.png', alt='')
                .customer-text
                  h5 adam nahan
                  span
                    i Chief Customer
                  p.pt-3
                    | You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.
              .single-slide.d-sm-flex
                .customer-img.mr-4.mb-4.mb-sm-0
                  img(src='assets/images/customer1.png', alt='')
                .customer-text
                  h5 adame nesane
                  span
                    i Chief Customer
                  p.pt-3
                    | You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.
    // Testimonial Area End
    // Footer Area Starts
    footer.footer-area
      .footer-widget.footer-widget2.section-padding
        .container
          .row
            .col-md-4
              .single-widget.single-widget1
                a(href='index.html')
                  img(src='assets/images/logo/logo.png', alt='')
                p.mt-3
                  | Which morning fourth great won't is to fly bearing man. Called unto shall seed, deep, herb set seed land divide after over first creeping. First creature set upon stars deep male gathered said she'd an image spirit our
            .col-md-4
              .single-widget.single-widget2.my-5.my-md-0
                h5.mb-4 contact us
                .d-flex
                  .into-icon
                    i.fa.fa-map-marker
                  .info-text
                    p 1234 Some St San Francisco, CA 94102, US 1.800.123.4567 
                .d-flex
                  .into-icon
                    i.fa.fa-phone
                  .info-text
                    p (123) 456 78 90
                .d-flex
                  .into-icon
                    i.fa.fa-envelope-o
                  .info-text
                    p support@axiomthemes.com
            .col-md-4
              .single-widget.single-widget3
                h5.mb-4 opening hours
                p Monday ...................... Closed
                p Tue-Fri .............. 10 am - 12 pm
                p Sat-Sun ............... 8 am - 11 pm
                p Holidays ............. 10 am - 12 pm
      .footer-copyright.footer-copyright2
        .container
          .row
            .col-lg-7.col-md-6
              span
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright ©
                script.
                  document.write(new Date().getFullYear());
                |  All rights reserved | This template is made with 
                i.fa.fa-heart-o(aria-hidden='true')
                |  by 
                a(href='https://colorlib.com', target='_blank') Colorlib
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            .col-lg-5.col-md-6
              .social-icons
                ul
                  li.no-margin Follow Us
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-google-plus
                  li
                    a(href='#')
                      i.fa.fa-pinterest
                  li
                    a(href='#')
                      i.fa.fa-instagram
    // Footer Area End
    // Javascript
    script(src='assets/js/vendor/jquery-2.2.4.min.js')
    script(src='assets/js/vendor/bootstrap-4.1.3.min.js')
    script(src='assets/js/vendor/wow.min.js')
    script(src='assets/js/vendor/owl-carousel.min.js')
    script(src='assets/js/vendor/jquery.datetimepicker.full.min.js')
    script(src='assets/js/vendor/jquery.nice-select.min.js')
    script(src='assets/js/main.js')
